<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460461505324-f59rjgddg0ukck4qctq05r1t877ft6u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460461505324-f59rjgddg0ukck4qctq05r1t877ft6u4</string>
	<key>API_KEY</key>
	<string>AIzaSyAcVhcizKqKfU1xDrcJ2zMEK_1FesWFYPk</string>
	<key>GCM_SENDER_ID</key>
	<string>460461505324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appstesting.IosFirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>iosfirebaselogin-e9d67</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfirebaselogin-e9d67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:460461505324:ios:4ae65ebc4d8cf530338a89</string>
</dict>
</plist>
